@{
    ViewData["Title"] = "Details";
}

@model TravelClient.Models.MyUser

<h1>Are you sure you want to delete @Model.MyUsername and all it's details?</h1>

<a href="/Locations/Delete/@(Model.MyUserId)"><p>Delete This User</p></a>