@{
    ViewData["Title"] = "Edit";
}



<h1>Edit Info:</h1>
<form action="/Locations/Details/@(Model.LocationId)" method="post">
  <label for="name">Location's Name</label>
  <input id="name" name="name" type="text" value="@(Model.Name)">
  <label for="city">Location's City</label>
  <input id="city" name="city" type="text" value="@(Model.City)">
  <label for="country">Location's Country</label>
  <input id="country" name="country" type="number" value="@(Model.Country)">
  <label for="locationid">Location's LocationId</label>
  <input id="locationid" name="locationid" type="text" value="@(Model.LocationId)">
  <button type="submit">Go!</button>
</form>

<a href="/Locations/Details/@(Model.LocationId)"><p>Return to Details</p></a>