@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img id="travel-gif" src="https://media.giphy.com/media/loujV6yIkbi7HsUFFS/giphy.gif" alt="Travel">
</div>