@{
    ViewData["Title"] = "Details";
}

@model TravelClient.Models.Location

<h1>Are you sure you want to delete @Model.Name and all it's details?</h1>

<a href="/Locations/Delete/@(Model.LocationId)"><p>Delete This Location</p></a>